*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:sans-serif;
}



body{
    background-color:black;
    color: white;
    user-select: none;
    min-height: 100vh;
    animation: body 1s ease-in-out;
}
 

@keyframes body{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


::-webkit-scrollbar{
    display: none;
}



.main-nav{
    display: flex;
    justify-content: center;
}

.nav-links{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 35, 35,1);
    color: white;
    transition: 0.5s ease-in-out;
    margin-top: 1.4rem;
    border-radius: 20px;
    padding:0.6rem 0.8rem;
    gap: 4px;
    
}

/* animation for nav-link on loading */
.nav-links{
    animation: navlink 1s ease-in-out;
}

@keyframes navlink{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}



.not-active img{
    border-radius: 50%;
    border: solid 2px rgb(0, 0, 0);
    width: 35px;
    height: 35px;
}

.nav-links{
    list-style: none;
    font-size: 1rem;
}

.nav-links a{
    color: white;
    padding: 8px 16px;
}

.nav-links .not-active:not(.not-active-img):hover{
    color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
    background-position: left;

}

.nav-links .not-active{
    color: white;
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    background: linear-gradient(to right, aqua 49%, rgb(35, 35, 35) 50%);
    background-size: 200% 100%;
    background-position: right;
}

.nav-links .not-active-img{
    background-color: rgb(35, 35, 35);
}


.not-active img:hover{
    border-radius: 50%;
    border: solid 2px aqua;
    width: 35px;
    height: 35px;
    transition: 0.4s ease-in-out;
}

.nav-links .not-active-img:hover{
    background-color: rgb(35, 35, 35);
}

.nav-links .active{
    color: rgb(0, 0, 0);
    transition: 0.4s ease-in-out;
    background-color: aqua;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 1rem;
}



/* small screen nav bar */


.hidden {
    display: none;
}

.main-nav-small-visible{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(18, 18, 18);
    width: 100%;
    justify-content: space-between;
}

.main-nav-small-visible .not-active img{
    margin: 0px 10px;
}

.main-nav-small-inside{
    display: hidden;
}

.main-nav-small-inside-all{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 4vh;
    align-items: center;
    background-color: rgb(18, 18, 18);

}

.main-nav-small-inside a{
    color: white;
    font-size: 2rem;
    border-bottom: solid 1px rgb(255, 255, 255);
}

.main-nav-small-inside{
    display: hidden;
}

.main-nav-small-inside-all{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 4vh;
    align-items: center;
    background-color: rgb(18, 18, 18);

}

.main-nav-small-inside a{
    color: white;
    font-size: 2rem;
    border-bottom: solid 1px rgb(255, 255, 255);
}



/* content */
.about-outside-container{
    padding-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    max-width: 100%;
    
}
.about-container{
    width: 80%;
    text-align: center;
}

.hello{

    font-weight: 400;
    margin-bottom: 20rem;
    margin-top: 10rem;
    color: white;
}

.hello p{
    font-size: 1.5rem;

}

.hello h1{
    font-size: 6rem;
    font-weight: 400;
    margin-bottom: 4rem;
    color: white;
}
.hello p{
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    color: white;
}

.x-box{
    display: flex;
    width: 100%;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.x-vertical{
    writing-mode: vertical-rl;
    text-orientation: upright;
    display:block;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 1rem;
    border-right: solid 3px white;
    margin: 1rem;

}

.x-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    color: white;
    width: 100%;
}

.x-h2,.x-p p{
    color: rgb(21, 21, 21);
    font-size: 1.3rem;
    letter-spacing: 2px;
}

.key-tag{
    color: rgb(159, 255, 255);
    padding: 2px 8px;
    border-radius: 10px;
}

.x-h2{
    font-size: 2rem;
    margin-bottom: 1.2rem;
}


.about-text-color{
    text-align: justify;
}







/*footer*/


.site-footer{

    width: 100%;
    background-color: rgb(18, 18, 18);
    text-align: center;
    transition: 0.5s ease-in-out;
}

.site-footer, .footer-rights, .fa{
    color: white;


}

.footer-rights{
    padding: 2vh 0vh 0vh 0vh;
    font-size: 1rem;
}

.footer-rights a{
    text-decoration: none;
    color: white;
}

.fa{
    margin: 2vh;
    font-size: 1rem;

}

.footer-icon:hover{
    color: aqua;
    transition: 0.5s ease-in-out;
    

}
