*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: monospace;
}

body{
    background-color:black;
    color: white;
    font-family: sans-serif;
    min-height: 100vh;   
  
}

::-webkit-scrollbar{
    display: none;
}




.nav-links{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    padding-top: 2vh;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.5s ease-in-out;
    position: fixed;
    width: 100%;
    
}

.not-active img{
    border-radius: 50%;
    border: solid 2px rgb(0, 0, 0);
    width: 6vh;
    height: 6vh;
}

.nav-links{
    list-style: none;
    font-size: 4vh;
}

.nav-links a{
    color: white;
}

.nav-links .not-active:hover{
    color: aqua;
    text-decoration: underline;
    text-underline-offset: 1vh;
    transition: 1s ease-in-out;
}


.not-active img:hover{
    border-radius: 50%;
    border: solid 2px aqua;
    width: 6vh;
    height: 6vh;
    transition: 1s ease-in-out;
}

.nav-links .active{
    color: aqua;
    text-decoration: underline;
    text-underline-offset: 1vh;
    transition: 1s ease-in-out;
}


/* small screen nav bar */
.hidden {
    display: none;
}

.main-nav-small-visible{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(18, 18, 18);
    
    width: 100%;
}

.main-nav-small-inside{
    display: hidden;
}

.main-nav-small-inside-all{
    display: flex;
    flex-direction: column;
    
    padding-top: 0vh;
    padding-left: 1vh;
    background-color: rgb(18, 18, 18);

}

.main-nav-small-inside a{
    color: white;
    font-size: 5vw;
    border-bottom: solid 1px rgb(255, 255, 255);
    padding-top: 1vh;
}





/* content */
.about-outside-container{
    padding-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    
}
.about-container{
    width: 80%;
    text-align: center;
}

.hello{

    font-weight: 400;
    margin-bottom: 20rem;
    margin-top: 10rem;
    color: white;
}

.hello p{
    font-size: 1.5rem;

}

.hello h1{
    font-size: 8rem;
    font-weight: 400;
    margin-bottom: 4rem;
    color: white;
}
.hello p{
    font-size: 2rem;
    letter-spacing: 2px;
    margin-bottom: 3rem;
    margin-top: 1.5rem;
    color: white;
}

.x-box{
    display: flex;
    width: 100%;
    margin-top: 15rem;
    margin-bottom: 15rem;
}

.x-vertical{
    writing-mode: vertical-rl;
    text-orientation: upright;
    display:block;
    color: white;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 1rem;
    border-right: solid 3px white;
    margin: 1rem;

}

.x-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 1rem;
}

.x-h2,.x-p p{
    color: rgb(21, 21, 21);
    font-size: 1.8rem;
    letter-spacing: 2px;
}

.x-h2{
    font-size: 2rem;
    margin-bottom: 1.2rem;
}








/*footer*/


.site-footer{

    width: 100%;
    background-color: rgb(18, 18, 18);
    text-align: center;
    transition: 0.5s ease-in-out;
}

.site-footer, .footer-rights, .fa{
    color: white;


}

.footer-rights{
    padding: 2vh 0vh 0vh 0vh;
    font-size: 3vh;
}

.footer-rights a{
    text-decoration: none;
    color: white;
}

.fa{
    margin: 2vh;
    font-size: 3vh;

}

.footer-icon:hover{
    color: aqua;
    transition: 0.5s ease-in-out;
    

}
