*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:sans-serif;
}


body{
    background-color:black;
    color: white;
    user-select: none;
    min-height: 100vh;
    animation: body 1s ease-in-out;
}
 

@keyframes body{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


::-webkit-scrollbar{
    display: none;
}



.main-nav{
    display: flex;
    justify-content: center;
}

.nav-links{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 35, 35,1);
    color: white;
    transition: 0.5s ease-in-out;
    margin-top: 1.4rem;
    border-radius: 20px;
    padding:0.6rem 0.8rem;
    gap: 4px;
    
}

/* animation for nav-link on loading */
.nav-links{
    animation: navlink 1s ease-in-out;
}

@keyframes navlink{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


.not-active img{
    border-radius: 50%;
    border: solid 2px rgb(0, 0, 0);
    width: 35px;
    height: 35px;
}

.nav-links{
    list-style: none;
    font-size: 1rem;
}

.nav-links a{
    color: white;
    padding: 8px 16px;
}

.nav-links .not-active:not(.not-active-img):hover{
    color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
    background-position: left;

}

.nav-links .not-active{
    color: white;
    font-size: 1rem;
    padding: 8px 16px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    background: linear-gradient(to right, aqua 49%, rgb(35, 35, 35) 50%);
    background-size: 200% 100%;
    background-position: right;
}

.nav-links .not-active-img{
    background-color: rgb(35, 35, 35);
}


.not-active img:hover{
    border-radius: 50%;
    border: solid 2px aqua;
    width: 35px;
    height: 35px;
    transition: 0.4s ease-in-out;
}

.nav-links .not-active-img:hover{
    background-color: rgb(35, 35, 35);
}

.nav-links .active{
    color: rgb(0, 0, 0);
    transition: 0.4s ease-in-out;
    background-color: aqua;
    padding: 6px 16px;
    border-radius: 20px;
    font-size: 1rem;
}



/* small screen nav bar */


.hidden {
    display: none;
}

.main-nav-small-visible{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(18, 18, 18);
    width: 100%;
    justify-content: space-between;
}

.main-nav-small-visible .not-active img{
    margin: 0px 10px;
}

.main-nav-small-inside{
    display: hidden;
}

.main-nav-small-inside-all{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 4vh;
    align-items: center;
    background-color: rgb(18, 18, 18);

}

.main-nav-small-inside a{
    color: white;
    font-size: 2rem;
    border-bottom: solid 1px rgb(255, 255, 255);
}

.main-nav-small-inside{
    display: hidden;
}

.main-nav-small-inside-all{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 4vh;
    align-items: center;
    background-color: rgb(18, 18, 18);

}

.main-nav-small-inside a{
    color: white;
    font-size: 2rem;
    border-bottom: solid 1px rgb(255, 255, 255);
}


/* main container */

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom:5rem;
}

.project-title{
    padding: 2rem 0rem;
    margin-bottom: 2rem;
}
.project-title h1{
    font-size: 3rem;
    font-weight: 400;
    color: white;
    text-decoration: underline;
    text-decoration-color: aqua;
    text-decoration-thickness: 2px;
}


.project-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    padding:0rem;
    width: 80%;
    gap: 1rem;
    flex-wrap: wrap;
}

.project{
    display: inline-block;
    width:fit-content;
    padding:2rem;
    background-color: rgb(18, 18, 18);
    max-width:240px;
    height: 450px;
    border-radius: 10px;
}

.img-block img{
    width:fit-content;
    height:fit-content;
    max-width: 250px;
    height: 10%;
    display: inline-block;
}

.project-info-block{
    padding: 1rem 0rem;
}

.project-info-block h2{
    font-size: 1.2rem;
    font-weight: 600;
    text-decoration: underline;
}

.project-info-block p{
    font-size: 1rem;
    font-weight: 400;
    padding: 10px 0px;
}

.project-info-block a{
    font-size: 1rem;
    text-decoration: none;
    color: aqua;  
    padding-top: 6px;
    display: block;
    float: left;
    clear: left;
}

.project:hover{
    background-color:rgba(16, 16, 16, 0.89);
    transition: 0.1s ease-in-out;
    transform: scale(1.01);
}

.project-info-block a:hover{
    transition: 1s ease-in-out;
    text-decoration: underline;
}



/*footer*/


.site-footer{
    background-color: rgb(18, 18, 18);
    text-align: center;
    transition: 0.5s ease-in-out;
}

.site-footer, .footer-rights, .fa{
    color: white;


}

.footer-rights{
    padding: 2vh 0vh 0vh 0vh;
    font-size: 1rem;
}

.footer-rights a{
    text-decoration: none;
    color: white;
}

.fa{
    margin: 2vh;
    font-size: 1rem;

}

.footer-icon:hover{
    color: aqua;
    transition: 0.5s ease-in-out;
    

}

@media screen and (max-width: 768px){
    .project-container{
        width: 100%;
    }
}