*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:monospace;
}



body{
    background-color:black;
    color: white;
    font-family: sans-serif;
    user-select: none;
    min-height: 100vh;
}

::-webkit-scrollbar{
    display: none;
}



.main-nav{
    display: flex;
    justify-content: center;
}

.nav-links{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 35, 35,1);
    color: white;
    transition: 0.5s ease-in-out;
    position: fixed;
    margin-top: 1.4rem;
    border-radius: 20px;
    padding:0.6rem 0.8rem;
    gap: 4px;
    
}



.not-active img{
    border-radius: 50%;
    border: solid 2px rgb(0, 0, 0);
    width: 35px;
    height: 35px;
}

.nav-links{
    list-style: none;
    font-size: 1.4rem;
}

.nav-links a{
    color: white;
    padding: 8px 20px;
}

.nav-links .not-active:not(.not-active-img):hover{
    color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
    background-position: left;

}

.nav-links .not-active{
    color: white;
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px 20px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    background: linear-gradient(to right, aqua 49%, rgb(35, 35, 35) 50%);
    background-size: 200% 100%;
    background-position: right;
}

.nav-links .not-active-img{
    background-color: rgb(35, 35, 35);
}


.not-active img:hover{
    border-radius: 50%;
    border: solid 2px aqua;
    width: 35px;
    height: 35px;
    transition: 0.4s ease-in-out;
}

.nav-links .not-active-img:hover{
    background-color: rgb(35, 35, 35);
}

.nav-links .active{
    color: rgb(0, 0, 0);
    font-weight: 600;
    transition: 0.4s ease-in-out;
    background-color: aqua;
    padding: 6px 16px;
    border-radius: 20px;
}



/* small screen nav bar */

.hidden {
    display: none;
}

.main-nav-small-visible{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(18, 18, 18);
    
    width: 100%;
}

.main-nav-small-inside{
    display: hidden;
}

.main-nav-small-inside-all{
    display: flex;
    flex-direction: column;
    
    padding-top: 0vh;
    padding-left: 1vh;
    background-color: rgb(18, 18, 18);

}

.main-nav-small-inside a{
    color: white;
    font-size: 5vw;
    border-bottom: solid 1px rgb(255, 255, 255);
    padding-top: 1vh;
}

/* main container */

.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 10rem;
    padding-bottom:5rem;
}

.project-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    padding:0rem;
    width: 80%;
    gap: 4rem;
    flex-wrap: wrap;
}

.project{
    display: inline-block;
    width:fit-content;
    padding:2rem;
    background-color: rgb(11, 11, 11);
    border: solid 2px aqua;
    max-width:240px;
    height: 450px;
    border-radius: 10%;
}

.img-block img{
    width:fit-content;
    height:fit-content;
    max-width: 250px;
    height: 10%;
    display: inline-block;
}

.project-info-block{
    padding: 1rem 0rem;
}

.project-info-block h2{
    font-size: 1.8rem;
    font-weight: 600;
}

.project-info-block p{
    font-size: 1.3rem;
    font-weight: 400;
    padding: 10px 0px;
}

.project-info-block a{
    font-size: 1.3rem;
    text-decoration: none;
    color: aqua;  
    padding-top: 6px;
    display: block;
    float: left;
    clear: left;
}

.project:hover{
    background-color:rgb(24, 24, 24);
    border-radius: 6%;
    transition: 0.5s ease-in-out;
}

.project-info-block a:hover{
    transition: 1s ease-in-out;
    text-decoration: underline;
}



/*footer*/


.site-footer{
    position: sticky;
    top: 100%;
    width: 100%;
    background-color: rgb(18, 18, 18);
    text-align: center;
    transition: 0.5s ease-in-out;
}

.site-footer, .footer-rights, .fa{
    color: white;


}

.footer-rights{
    padding: 2vh 0vh 0vh 0vh;
    font-size: 1.4rem;
}

.footer-rights a{
    text-decoration: none;
    color: white;
}

.fa{
    margin: 2vh;
    font-size: 1.4rem;

}

.footer-icon:hover{
    color: aqua;
    transition: 0.5s ease-in-out;
    

}
