*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family:sans-serif;
}

body{
    background-color:black;
    color: white;
    user-select: none;
    transition: 0.5s ease-in-out;
    animation: body 1s ease-in-out;
}   

@keyframes body{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

::-webkit-scrollbar{
    display: none;
}

.main-nav{
    display: flex;
    justify-content: center;
    height: 8vh;
}

.nav-links{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(35, 35, 35,1);
    color: white;
    transition: 0.5s ease-in-out;
    margin-top: 2vh;
    border-radius: 20px;
    padding:0.6rem 0.8rem;
    gap: 4px;
    height: 6vh;
}

/* animation for nav-link on loading */
.nav-links{
    animation: navlink 1s ease-in-out;
}

@keyframes navlink{
    0%{
        opacity: 0;
        transform: translateY(-20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


.active{
    
}

.active img{
    border-radius: 50%;
    border: solid 2px aqua;
    width: 35px;
    height: 35px;
}

.active img:hover{
    transition: 0.5s ease-in-out;
}

.nav-links{
    list-style: none;
    font-size: 1rem;
}

.nav-links a{
    color: white;
    padding: 8px 16px;
}

.nav-links .not-active{
    color: white;
    font-size: 1rem;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 20px;
    transition: 0.5s ease-in-out;
    background: linear-gradient(to right, aqua 49%, rgb(35, 35, 35) 50%);
    background-size: 200% 100%;
    background-position: right;
}

.nav-links .not-active:not(.not-active-img):hover{
    color: rgb(0, 0, 0);
    transition: 0.5s ease-in-out;
    background-position: left;
}


/* small screen nav bar */

.hidden {
    display: none;
}

.main-nav-small-visible{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(18, 18, 18);
    width: 100%;
    justify-content: space-between;
}

.main-nav-small-visible .active img{
    margin: 0px 10px;
}

.main-nav-small-inside{
    display: hidden;
}

.main-nav-small-inside-all{
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 4vh;
    align-items: center;
    background-color: rgb(18, 18, 18);

}

.main-nav-small-inside a{
    color: white;
    font-size: 2rem;
    border-bottom: solid 1px rgb(255, 255, 255);
}


/* content */
.main-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease-in-out;
    flex-wrap: wrap;
    height: 84vh;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.title-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.content img{
    width: 36%;
    height: 36%;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
}

.title-content h1{
    font-size: 3rem;
    font-weight: 400;
    padding: 1rem;
}

.title-content .info{
    color:rgb(255, 255, 255);
    font-size: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.title-content .info div{
    background-color: rgb(18, 18, 18);
    padding: 0.4rem;
    border-radius: 10px;
    border: solid 1px rgba(255, 255, 255, 0.205);
}

.title-content .info div:hover{
    border: solid 1px rgba(0, 255, 255, 0.265);
}



/* footer */
.site-footer{

    background-color: rgb(18, 18, 18);
    text-align: center;
    transition: 0.5s ease-in-out;
}

.site-footer, .footer-rights, .fa{
    color: white;


}

.footer-rights{
    padding: 2vh 0vh 0vh 0vh;
    font-size: 1rem;
}

.footer-rights a{
    text-decoration: none;
    color: white;
}

.fa{
    padding: 2vh;
    font-size: 1rem;

}

.footer-icon:hover{
    color: aqua;
    transition: 0.5s ease-in-out;
    

}

/* .content .info{
    font-size: 0.5rem;
    margin-top: 5px;
    font-weight: 400;
}
.info{
    display: flex;
    gap: 2px;
}
.first{
    
    animation: tagcolor 6s infinite ;
}

.second{
    animation: tagcolor 6s infinite;
    animation-delay: 2s;
}

.third{
    animation: tagcolor 6s infinite;
    animation-delay: 3s;
}

.fourth{
    animation: tagcolor 6s infinite;
    animation-delay: 4s;
}

.fifth{
    animation: tagcolor 6s infinite;
    animation-delay: 5s;
}

.sixth{
    animation: tagcolor 6s infinite;
    animation-delay: 6s;
}






@keyframes tagcolor {
    0%{
        color: rgb(255, 255, 255);
    }
    50%{
        color: rgb(0, 0, 0);
    }
    100%{
        color: rgb(0, 0, 0);
    }

} */

@media screen and (max-width: 780px){
    .content img{
        width: 50%;
        height: 50%;
    }
}




