*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body{
    background-color:black;
    color: white;
    font-family: sans-serif;
    user-select: none;
    min-height: 100vh;
}   

::-webkit-scrollbar{
    display: none;
}

.nav-links{
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vw;
    padding-top: 2vh;
    background-color: rgb(0, 0, 0);
    color: white;
    transition: 0.5s ease-in-out;

}

.active img{
    border-radius: 50%;
    border: solid 2px aqua;
    width: 6vh;
    height: 6vh;
}

.active img:hover{
    border: solid 2px aqua;
    transition: 0.5s ease-in-out;
}

.nav-links{
    list-style: none;
    font-size: 4vh;
}

.nav-links a{
    color: white;
}


.not-active:hover{
    color: aqua;
    text-decoration: underline;
    text-underline-offset: 1vh;
    transition: 1s ease-in-out;
}



/* small screen nav bar */

.hidden {
    display: none;
}

.main-nav-small-visible{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(18, 18, 18);
    
    width: 100%;
}

.main-nav-small-inside{
    display: hidden;
}

.main-nav-small-inside-all{
    display: flex;
    flex-direction: column;
    
    padding-top: 0vh;
    padding-left: 1vh;
    background-color: rgb(18, 18, 18);

}

.main-nav-small-inside a{
    color: white;
    font-size: 5vw;
    border-bottom: solid 1px rgb(255, 255, 255);
    padding-top: 1vh;
}


/* content */
.main-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8vh;
    transition: 0.5s ease-in-out;

}
.content{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content img{
    border-radius: 50%;
    border-top: solid 4px rgb(172, 172, 172);
    border-right: solid 4px rgb(0, 255, 208);
    border-bottom: solid 4px rgb(172, 172, 172);
    border-left: solid 4px rgb(172, 172, 172);

   
}

.content h1{
    font-size: 8vh;
    margin-top: 3vh;
    font-weight: 700;

}

.content .info{
    font-size: 4vh;
    margin-top:2vw;
    font-weight: 600;
    color:rgb(36, 36, 36);
}
.info{
    display: flex;
    flex-wrap: wrap;
    gap: 1vw;
    justify-content: center;
}
.first{
    
    animation: tagcolor1 6s infinite ease-in-out;
    animation-delay: 1s;
}

.second{
    animation: tagcolor2 6s infinite ease-in-out;
    animation-delay: 1s;
}

.third{
    animation: tagcolor3 6s infinite ease-in-out;
    animation-delay: 1s;
}

.fourth{
    animation: tagcolor4 6s infinite ease-in-out;
    animation-delay: 1s;
}

.fifth{
    animation: tagcolor5 6s infinite ease-in-out;
    animation-delay: 1s;
}

.sixth{
    animation: tagcolor6 6s infinite ease-in-out;
    animation-delay: 1s;
}

.color-effect{
    animation: tagcolor-fullstop 6s infinite ease-in-out;
    animation-delay: 1s;
}




@keyframes tagcolor1 {
    14%{
        color:white;
    }
    28%{
        color: rgb(36, 36, 36);
    }
    42%{
        color: rgb(36, 36, 36);
    }
    56%{
        color: rgb(36, 36, 36);
    }
    70%{
        color: rgb(36, 36, 36);
    }
    84%{
        color: rgb(36, 36, 36);
    }
    100%{
        color: rgb(36, 36, 36);
    }

}

@keyframes tagcolor2 {
    14%{
        color: rgb(36, 36, 36);
    }
    28%{
        color: white;
    }
    42%{
        color: rgb(36, 36, 36);
    }
    56%{
        color: rgb(36, 36, 36);
    }
    70%{
        color: rgb(36, 36, 36);
    }
    84%{
        color: rgb(36, 36, 36);
    }
    100%{
        color: rgb(36, 36, 36);
    }

}

@keyframes tagcolor3 {
    14%{
        color: rgb(36, 36, 36);
    }
    28%{
        color: rgb(36, 36, 36);
    }
    42%{
        color: white;
    }
    56%{
        color: rgb(36, 36, 36);
    }
    70%{
        color: rgb(36, 36, 36);
    }
    84%{
        color: rgb(36, 36, 36);
    }
    100%{
        color: rgb(36, 36, 36);
    }

}

@keyframes tagcolor4 {
    14%{
        color: rgb(36, 36, 36);
    }
    28%{
        color: rgb(36, 36, 36);
    }
    42%{
        color: rgb(36, 36, 36);
    }
    56%{
        color: white;
    }
    70%{
        color: rgb(36, 36, 36);
    }
    84%{
        color: rgb(36, 36, 36);
    }
    100%{
        color: rgb(36, 36, 36);
    }

}

@keyframes tagcolor5 {
    14%{
        color: rgb(36, 36, 36);
    }
    28%{
        color: rgb(36, 36, 36);
    }
    42%{
        color: rgb(36, 36, 36);
    }
    56%{
        color: rgb(36, 36, 36);
    }
    70%{
        color: white;
    }
    84%{
        color: rgb(36, 36, 36);
    }
    100%{
        color: rgb(36, 36, 36);
    }

}

@keyframes tagcolor6 {
    14%{
        color: rgb(36, 36, 36);
    }
    28%{
        color: rgb(36, 36, 36);
    }
    42%{
        color: rgb(36, 36, 36);
    }
    56%{
        color: rgb(36, 36, 36);
    }
    70%{
        color: rgb(36, 36, 36);
    }
    84%{
        color: white;
    }
    100%{
        color: rgb(36, 36, 36);
    }

}

@keyframes tagcolor-fullstop {
    14%{
        color: rgb(36, 36, 36);
    }
    28%{
        color: rgb(36, 36, 36);
    }
    42%{
        color: rgb(36, 36, 36);
    }
    56%{
        color: rgb(36, 36, 36);
    }
    70%{
        color: rgb(36, 36, 36);
    }
    84%{
        color: aqua;
    }
    100%{
        color: rgb(36, 36, 36);
    }
    
}

.site-footer{
    position: sticky;
    top: 100%;
    width: 100%;
    background-color: rgb(18, 18, 18);
    text-align: center;
    transition: 0.5s ease-in-out;
}

.site-footer, .footer-rights, .fa{
    color: white;


}

.footer-rights{
    padding: 2vh 0vh 0vh 0vh;
    font-size: 3vh;
}

.footer-rights a{
    text-decoration: none;
    color: white;
}

.fa{
    margin: 2vh;
    font-size: 3vh;

}

.footer-icon:hover{
    color: aqua;
    transition: 0.5s ease-in-out;
    

}

/* .content .info{
    font-size: 0.5rem;
    margin-top: 5px;
    font-weight: 400;
}
.info{
    display: flex;
    gap: 2px;
}
.first{
    
    animation: tagcolor 6s infinite ;
}

.second{
    animation: tagcolor 6s infinite;
    animation-delay: 2s;
}

.third{
    animation: tagcolor 6s infinite;
    animation-delay: 3s;
}

.fourth{
    animation: tagcolor 6s infinite;
    animation-delay: 4s;
}

.fifth{
    animation: tagcolor 6s infinite;
    animation-delay: 5s;
}

.sixth{
    animation: tagcolor 6s infinite;
    animation-delay: 6s;
}






@keyframes tagcolor {
    0%{
        color: rgb(255, 255, 255);
    }
    50%{
        color: rgb(0, 0, 0);
    }
    100%{
        color: rgb(0, 0, 0);
    }

} */




